.password-requirements {
  /** Colour blind friendly versions of red and green */
  --color-success: #5E7D00;
  --color-failure: #B03911;
  & ul.password-requirements-ul {
    margin-left: 0;
    font-size: 0.923em;
    color: #666;
    & li {
      font-weight: bold;
      .item-list ul {
        margin-left: 0;
        li {
          font-weight: normal;
          list-style-type: none;
          margin-left: 0.25em;
          & span.requirement-result {
            display: inline-flex;
          }
          & svg {
            height: 18px;
            width: 18px;
            margin-right: 0.25em;
            align-self: top;
            &.icon--check {
              color: var(--color-success);
            }
            &.icon--x {
              color: var(--color-failure);
            }
          }
          & ul.check-failure-explanation {
            margin-left: 2em;
            & li {
              list-style-type: '> ';
              &::marker {
                font-weight: bold;
                color: var(--color-failure);
              }
            }
          }
        }
      }
    }
  }
}
